
# useful link to remove git cache;https://stackoverflow.com/questions/24410208/gitignore-does-not-ignore-folder

**/*.bak
*/*.bak
*/.bak
**/*.cache/
**/*.hw/
**/*.ip_user_files/
**/*.gen/
**/*.sim/
**/*exercise/
**/*tutorial/

# ignore everything else except the report file;
# not sure if there is a better way to do this ...
**/*.runs/
**/*.jou
**/*.xpr
**/vivado.log
**/*.Xil/
**/*.metadata/
**/*RemoteSystemsTempFiles/
**/*IDE.log
**/*.analytics
**/Packages/
**/vitis_sdk/
**/*.dcp
**/*.vscode
**/*user_docs/
**/*.dcp
**/*.xlsx
